<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  
 <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class='navbar navbar-default navbar-fixed-top'>
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class='navbar-collapse collapse'>
    <ul class='nav navbar-nav nav-pills'>
      <li role='presentation'><a href="/posts">News Feed</a></li>
      <li role='presentation'><a href="/users">Profiles</a></li>
      <li role='presentation'><a href="/search/new">Dog Resources</a></li>
      <li role='presentation'><a href="/petfinder/search">Adopt!</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if (currentUser === null){ %>
        <li role='presentation'><a href="/signup">Sign Up</a></li>
        <li role='presentation'><a href="/login">Log In</a></li>
      <% } else { %>
            <li role='presentation'><a href="/users/<%=currentUser._id%>/message">Mail</a></li>
            <li role='presentation'><a href="/users/<%=currentUser._id%>">My Profile</a></li>
            <li role='presentation'><a href="/posts/new">New Post</a></li>
            <li role='presentation'><a href="/users/<%=currentUser.id%>/edit">Edit Account</a></li>
            <li role='presentation'><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
    </div>
  </nav>
<%if (currentUser !== null){ %>
  <div class ='row'>
    <h2 class='text-center'>Welcome <%= currentUser.username %></h2> 
  </div>
<% } %>
<div class= 'row'>
  <div class='col-md-offset-2 col-md-8 jumbotron'>
  
